name: Release

on:
  release:
    types: [published]

jobs:
  build_wheel_and_sdist:
    name: Build wheel and tar.gz
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install build
      - name: Build wheel and sdist
        run: python -m build
      - uses: actions/upload-artifact@v5
        with:
          name: artifact
          path: |
            ./dist/python_binexport*.whl
            ./dist/*.tar.gz

  upload_pypi:
    needs: build_wheel_and_sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        with:
          # unpacks default artifact into dist/
          # if `name: artifact` is omitted, the action will create extra parent dir
          name: artifact
          path: dist

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          password: ${{ secrets.PYPI_DEPLOY_TOKEN }}

      - name: Upload Python packages for release notes
        uses: softprops/action-gh-release@v2.4.1
        with:
          files: |
            dist/*
